/* BODY */

body{
    margin: 0;
    /* font-family: Helvetica, sans-serif; */
    font-family: "NunitoSsans Regular", sans-serif;
    
    }

body * {
    box-sizing: border-box;
    }





/* HEADER */

    .header{
        background-color: #072B61;
    }

    .header-content{
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        height: 83px;
        align-items: center;
        font-size: 0.8em;
    }

    .logo{
        color: white;
        margin-left: 10px;
    }

    .header-navigation{
        list-style: none;
        display: flex;

    }
    
    .header-navigation-item{
        margin-right: 47px;
    }
    
    .header-navigation-item a{
        text-decoration: none;
        color: white;
    }

    .header-contact{
        color: #487CCA;
    }
    .header-button{
        margin-right: 10px;
    }
