/* ELEMENTS */
    .brend-color{
        color: #94B4E4;
    }

    .brend-color-medium{
        color: #3871c5;
    }

    .brend-color-dark{
        color: #072B61;
    }

    .brend-back{
        background-color: #072B61;
    }

    .conteiner{
        max-width: 1440px;
        margin: 0 auto;
    }
    .button {
        background: #3871c5;
        box-shadow: 0px 5px 5px rgba(2, 27, 63, 02);
        border-radius: 2px;
        border: 0;
        outline: 0;
        padding: 11px 21px;
        color: white;
        font-style: italic;
        font-size: 1em;
        text-transform: uppercase;
    }

    .transparent-button{
        box-shadow: 0px 4px 4px rgba(2, 27, 63, 02);
        border-radius: 2px;
        background: transparent;
        padding: 9px 19px;
        border: 2px solid;
        border-color: #94B4E4;
    }

    .button:hover {
        background: #072B61;
    }
    .line, .line-white{
        width: 50px;
        height: 2px;
        background-color: #072B61;
        border-width: 0;
        border-style: solid;
    }
    .line-white{
        background-color: white;
    }

    @media (max-width: 1300px) {
        .button {

            padding: 8px 13px;
        }

        .transparent-button{
            padding: 6px 11px;
        }
    }

    .title, .title-medium, .title-small {
        font-style: normal;
        font-size: 30px;
        line-height: 50px;
        text-transform: uppercase;
    }
    
    .title-medium{
        font-size: 24px;
        line-height: 40px;
    }    

    .title-small{
        font-size: 18px;
        line-height: 30px;
        }

    @media (max-width: 1300px) {
        .title, .title-medium, .title-small {
            font-size: 22px;
            line-height: 35px;
            }
        .title-medium{
            font-size: 17px;
            line-height: 30px;
        }    
        .title-small{
            font-size: 13px;
            line-height: 22px;
            }
        }
   
    input {
        width: 100%;
        padding-top: 5px;
        border-left: 0;
        border-top: 0;
        border-right: 0;
        border-color: #072B61;
        margin: 0;
    }


/* BODY */

    body{
        font-family:Helvetica, arial, sans-serif;
        color: white;
        }

    .space-between{
        position: relative;
        display: flex;
        justify-content: space-between;
    }

/* HEADER */

    header{
        position: fixed;
        overflow: hidden;
        z-index: 50;
        width: 100%;
        top: 0;
        left: 0;
    }

    .header-content{
        padding: 0 10px;
        align-items: center;
        min-height: 60px;
        font-family: "NunitoSsans Regular", sans-serif;
        text-transform: uppercase;
        font-size: 0.8em;
    }

    .header-content a:hover{
        color: #3871c5;
    }
    .header-navigation-item {
        margin: 0 20px;
    }
    .header-navigation-item a{
        color: white;
    }
    @media (max-width: 1100px) {
        .header-navigation-item {
            display: none;
        }
    }

    
    @media (max-width: 450px){
        .header-button{
            display: none;
        }
    }


/* WRAPPER */
    .wrapper{
        display: flex;
        position: relative;
        z-index: 1;
    }
    @media (max-width: 1100px) {
        .wrapper {
            flex-direction: column;
        }
    }
