/* ELEMENTS */
.brend-color{
    color: #94B4E4;
    
}

.conteiner{
    max-width: 1250px;
    margin: 0 auto;
}
.button {
    background: #94B4E4;
    box-shadow: 0px 5px 5px rgba(2, 27, 63, 02);
    /* box-shadow: 0px 5px 15px rgba(107, 145, 202, 02); */
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 11px 21px;
    color: white;
    font-style: italic;
    font-size: 1em;
    text-transform: uppercase;

    }

.title{
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    }