
.basic{
    background-image: url('../images/back.jpg');
    background-size: cover;
    height: 707px;
    padding: 184px;
    position: relative;
    }
.basic-overlay{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    }
    


.basic-content{
    position: relative;
    margin-top: 10px;
    padding-left: 20px;
    z-index: 1;
    max-width: 676px;
    }
.basic-button{
    position: relative;
    font-size: 0.8em;

    
}




