/* BASIC */
    .basic{
        margin-top: 60px;
        background-image: url('../images/digitalback.jpg');
        background-size: cover;
        
        height: 500px;
        /* position: relative; */
        }
    
    .basic-overlay{
        content: '';
        position: absolute;
        height: 560px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .6);

    }

    .zindex1{
        position: relative;
        z-index: 1;
    }

    .basic-content{
        z-index: 2;
        padding-top: 100px;
        padding-left: 20px;
        width: 600px;
        height: 490px;
    }
    .basic-button{
        position: relative;
        margin-top: 10px;
        font-size: 0.8em;
    }
    .circle {
        position: relative;
        margin-top: -60px;
        width: 150px;
        height: 150px;
        z-index: 1;
        background-image: url('../images/hammer-small.jpg');
        border-width: 8px;
        border-style: solid;
        border-color: #072B61;
        border-radius: 50%;
        }
    

   
/* WHOWEARE */


.who-sides{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 55px;
    width: 100%;
    min-height: 700px;
}

.whoweare-content{
    list-style-type: disc;
    padding-left: 20px;
    text-align: justify;
}
.whoweare-content li{
    min-height: 60px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
 
}

.whoweare-sub-content {
    position: relative;
    z-index: 2;
    display: none;
}


.whoweare-popup:hover+.whoweare-sub-content, .whoweare-sub-content:hover {
    display: block;
}

.whoweare-link{
    color: #94B4E4;
}
.whoweare-link:hover{
    color: white;
}

.right-block-content{
    display: flex;
    margin-top: 29px;
    justify-content: space-between;
    text-transform: uppercase;
    height: 80px;
    align-items: center;
    font-size: 1.2em;
}

.right-block-logo{
    padding-left: 120px;
}

.right-block-navigation{
    padding-left: 30px;
    padding-right: 110px;
    list-style: none;
    display: flex;

}

.right-block-navigation-item{
    margin-left: 30px;
}

.right-block-navigation-item a{
    text-decoration: none;
    color: white;
}
.right-block-navigation-item a:hover{
    text-decoration: none;
    color: #94B4E4;
}


  .sub-content {
        position: absolute;
        padding-top: 20px;
        min-width: 500px;
        max-width: 650px;
        min-height: 500px;
        opacity:0;
        -webkit-transition: opacity 0.5s ease-out 0.1s;
        -moz-transition: opacity 0.5s ease-out 0.1s;
        -o-transition: opacity 0.5s ease-out 0.1s;
        transition: opacity 0.5s ease-out 0.1s;
        z-index: 2;
        visibility: hidden;
  }
  
  .what{
    
    margin-left: -290px;
  }

  .why{
    margin-left: -370px;
  }

  .how{
    margin-left: -495px;
  }

  a:hover+.sub-content, .sub-content:hover {
    opacity:1;
    visibility: visible;
  }
  .sub-content-text{
    position: absolute;
    margin-top: 10px;
    padding: 10px;
    min-height: 500px;
    font-style: normal;
    text-transform: none;
  }

.right-content-background{
    position: relative;
    background-image: url('../images/femida.jpg');
    min-height: 200px;
    background-size: cover;

}

.camera{
    width: 50px;
}



/* CONTROL */

.control{
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
}

.lookup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -297px;
}

.lookup-circle{
    position: absolute;
    width: 85px;
    height: 85px;
    background-color: #94B4E4;
    border-width: 0;
    border-style: solid;
    border-radius: 50%;
}

.lookup-rectangle{
    position: absolute;
    padding-left: 5px;
}
.line{
    width: 50px;
    height: 2px;
    background-color: #072B61;
    border-width: 0;
    border-style: solid;

}

.control-content{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #072B61;
}

.control-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    max-width: 800px;
}
.control-text p{
    padding-top: 10px;
}

.form{
    display: flex;
    margin-top: 30px;
    width: 600px;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-size: 0.8em;
}
.form-field{
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkbox{
    display: flex;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #94B4E4;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .custom-checkbox:checked+label::before {
    border-color:  #3871c5;
    background-color:  #3871c5;
    background-image: url("../images/vector.svg");
  }


.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color:  #3871c5;
  }

.hammer{
    display: flex;
    width: 300px;
    justify-content: space-between;
    height: 83px;
    align-items: center;
  }

.hammer-small{
    width: 150px;
    height: 64px;
    background-image: url('../images/hammer-small-emptybeck.png.jpg');
}

.three-blocks{
    width: 1250px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
}

.three-blocks-element{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.three-blocks-content{
    margin-top: -130px;
    padding-top: 10px;
    padding-left: 20px;
    width: 330px;
    height: 276px;
    background-color:white;
    border-width: 0;
    border-style: solid;
}

.three-blocks-content p{
    
    margin-bottom: 20px;
}

.three-blocks-content li{
    margin-left: 17px;
    margin-bottom: 10px;
    list-style-type: disc;
}

.three-blocks-price{
    display: flex;
    align-items: center;
    margin-left: -102px;
    width: 228px;
    height: 54px;
    background-color:#072B61;
    border-width: 0;
    border-style: solid;
}
.three-blocks-price p{
    padding-left: 20px;
    color: white;
}

.howitworks{
    margin-bottom: 200px;
}

.howitworks-left-block{
    width: 675px;
    height: 640px;
    background-image: url('../images/robohend.jpg');
}
  
.howitworks-left-block-content{
    width: 506px;
    height: 509px;
    margin-top: 70px;
    margin-left: 100px;
}

.howitworks-line{
    height: 100px;
    display: flex;
    align-items:center;
    margin-bottom: 5px;
}

.howitworks-line-circle{
    display: flex;
}

.howitworks-line-circle-image{
    width: 100px;
    height: 100px;
}

.howitworks-line-circle-text{
    position: absolute;
    padding-top: 35px;
    padding-left: 40px;
}

.howitworks-line-text{
    color: #072B61; 
}

.howitworks-right-block-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    width: 506px;
    height: 509px;
    margin-left: 130px;
    margin-top: 60px;
    background-color: #072B61;
    border-radius: 1%;
}

.howitworks-right-block-form{
    display: flex;
    height: 370px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.howitworks-right-block-form input {
    width: 400px;
    background-color: #072B61;
    border-left: 0;
      border-left-color: currentcolor;
    border-top: 0;
      border-top-color: currentcolor;
    border-right: 0;
      border-right-color: currentcolor;
    border-color: #94B4E4;
    color: white;
    margin: 0;
  }

  .howitworks-right-block-form textarea {
    width: 400px;
    background-color: #072B61;
    border-left: 0;
      border-left-color: currentcolor;
    border-top: 0;
      border-top-color: currentcolor;
    border-right: 0;
      border-right-color: currentcolor;
    border-color: #94B4E4;
    color: white;
    margin: 0;
  }

  .howitworks-right-block-circle{

    width: 85px;
    height: 85px;
    background-color: #94B4E4;
    border-width: 0;
    border-style: solid;
    border-radius: 50%;
}

.free-checkup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 150px;
    height: 70px;
}
.free-checkup-circle-image{
    position: absolute;
    margin-left: -63px;
    margin-top: 19px;
    width: 40px;
}

.basic-bottom{
    background-image: url('../images/3d.jpg');
    background-size: cover;
    height: 864px;
    position: relative;
    }

.basic-bottom-left{
    margin-left: 50px;
    width: 500px;
}
.basic-bottom-list{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin-top: 50px;
    height: 450px;

}

.basic-bottom-center{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin-top: -40px;
    margin-right: 40px;
    height: 950px;
    width: 354px;
}

.basic-bottom-right{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin-top: -120px;
    height: 950px;
    width: 354px;
}