/* BASIC */
    .basic{
        background-image: url('../images/digitalback.jpg');
        background-size: cover;
        height: 500px;
        padding-top: 100px;
        position: relative;
        }
    .basic-overlay{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .6);
    }
        


    .basic-wrapper{
        position: relative;
        margin-top: 10px;
        padding-left: 20px;
        z-index: 1;
        max-width: 676px;
        min-width: 550px;
    }
    .basic-button{
        position: relative;
        margin-top: 10px;
        font-size: 0.8em;
    }

    .basic-circle{
        
        margin-top: 22px;
        }


   
/* HOWITWORKS */
.howitworks{
    position: relative;
    margin-top: -10px;
    padding-bottom: 20px;
    }
.wrapper-title{
    padding-top: 100px;
}

.howitworks-content{
    max-width: 700px;
    list-style-type: disc;
    padding-left: 20px;
}
.howitworks-link{
    color: #94B4E4;
}
.howitworks-link:hover{
    color: white;
}
.right-content{
    background-image: url('../images/femida.jpg');
    width: 700px;
    height: 700px;
    background-size: cover;
}

